@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

header{
    padding: 10px;
    background-color: gray;
    color: #FFFFFF;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

header > h1{
    /* border: 1px dotted black; */
    flex: 0 0 200px;
}

header > nav{
    /* border: 1px dotted black; */

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    text-align: center;
}

header > nav > a:hover{
    background-color: white;
    color: black;
    transition: background-color .5s;
}

main{
    /* width: 500px; */
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.33);
}