@charset 'UTF-8';

ul{
    list-style-type: none;
    padding: 0px;
}

nav{
    background-color: #DE4A3E;
}

nav ul li{
    display: inline;
    position: relative;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul ul{
    display: block;
    position: absolute;
}

nav ul li:hover ul{
    display: block;
}


