@charset "UTF-8";

body, html{background-color: lightgrey;}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(151, 150, 150);
}

header > h1{
    text-align: center;
    padding: 10px;
}

span#burguer{
    background-color: rgb(45, 45, 45);
    color: white;
    text-align: center;
    display: block;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover{
    background-color:white;
    color: black;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    background-color:  rgb(89, 88, 88);
    color: white;
    border-top: 1px solid black;
    text-align: center;
    text-decoration: none;
}

menu > ul > li > a:hover{
    background-color: rgb(128, 128, 128);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

main > article > h2{
    margin-bottom: 20px;
}

main > article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}