@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
}

thead{
    background-color: rgb(125, 125, 125);
    color: white;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}

th.titulo{
    text-align: left;
}

#cor{
    background-color: rgb(125, 125, 125);
    color: white;
}

td#cor{
    font-weight: bolder;
}
